@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="Images/DinoDiner-32.png" alt="Dino Diner" width="500"/>

<div>
    <a asp-page="Index">Go to Home page</a>
    <a asp-page="Menu">Go to Menu page</a>
    <a asp-page="Privacy">Go to Privacy page</a>
    <a asp-page="About">Go to About page</a>
</div>