<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Menu</name>
    </assembly>
    <members>
        <member name="T:DinoDiner.Menu.Entrees.Brontowurst">
            <summary>
            Implement a class to represent the Brontowurst entree. 
            Its price is $5.36, it contains 498 calories, and its ingredients are: brautwurst, whole-wheat bun, peppers, and onions. 
            It should implement methods for holding the bun, peppers, and onions.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Brontowurst.Price">
            <summary>
            Gives the price of this entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Brontowurst.Calories">
            <summary>
            Gives the calories of this entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Brontowurst.Ingredients">
            <summary>
            Gives list of all the ingredients in this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.#ctor">
            <summary>
            Initialize price to 5.36 and calories to 356.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldBun">
            <summary>
            Remove bun from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldPeppers">
            <summary>
            Remove peppers from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldOnion">
            <summary>
            Remove onions from this entree.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.DinoNuggets">
            <summary>
            Implement a class to represent the Dino Nuggest entree. 
            Its price is $4.25, it contains 59 calories per nugget, and its ingredients are: 6 chicken nuggets. 
            It should implement methods for adding a nugget at an additional $0.25.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.DinoNuggets.Price">
            <summary>
            Gives the price of this entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.DinoNuggets.Calories">
            <summary>
            Gives the calories of this entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.DinoNuggets.Ingredients">
            <summary>
            Gives list of all the ingredients in this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.DinoNuggets.#ctor">
            <summary>
            Initialize price to 4.25, nuggets to 6, and calories to 6*59.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.DinoNuggets.AddNugget">
            <summary>
            Adds another chicken nugget to the order.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.PrehistoricPBJ">
            <summary>
            Implement a class to represent the PrehistoricPBJ entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PrehistoricPBJ.Price">
            <summary>
            Gives the price of this entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PrehistoricPBJ.Calories">
            <summary>
            Gives the calories of this entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PrehistoricPBJ.Ingredients">
            <summary>
            Gives list of all the ingredients in this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.#ctor">
            <summary>
            Initialize price to 6.52 and calories to 483.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.HoldPeanutButter">
            <summary>
            Remove peanut butter from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.HoldJelly">
            <summary>
            Remove jelly from this entree.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.PterodactylWings">
            <summary>
            Implement a class to represent the Pterodactyl Wings entree. 
            Its price is $7.21, it contains 318 calories, and its ingredients are: Chicken and Wing Sauce.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PterodactylWings.Price">
            <summary>
            Gives the price and the calories of this entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PterodactylWings.Calories">
            <summary>
            Gives the calories of this entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PterodactylWings.Ingredients">
            <summary>
            Gives list of all the ingredients in this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PterodactylWings.#ctor">
            <summary>
            Initialize price to 7.21 and calories to 318.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.SteakosaurusBurger">
            <summary>
            Implement a class to represent the Steakosaurus Burger entree. 
            Its price is $5.15, it contains 621 calories, and its ingredients are: whole wheat bun, steakburger pattie, pickle, ketchup, and mustard. 
            It should implement methods for holding the bun, pickle, ketchup, and mustard.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.SteakosaurusBurger.Price">
            <summary>
            Gives the price and the calories of this entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.SteakosaurusBurger.Calories">
            <summary>
            Gives the calories of this entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.SteakosaurusBurger.Ingredients">
            <summary>
            Gives list of all the ingredients in this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.#ctor">
            <summary>
            Initialize price to 5.15 and calories to 621.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldBun">
            <summary>
            Remove bun from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldPickle">
            <summary>
            Remove pickle from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldKetchup">
            <summary>
            Remove ketchup from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldMustard">
            <summary>
            Remove mustard from this entree.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.TRexKingBurger">
            <summary>
            Implement a class to represent the T-Rex King Burger entree. 
            Its price is $8.45, it contains 728 calories, and its ingredients are: a whole wheat bun, three steakburger patties, lettuce, tomato, onion, pickle, ketchup, mustard, and mayo. 
            It should implement methods for holding the bun, lettuce, tomato, onion, pickle, ketchup, mustard, and mayo.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.TRexKingBurger.Price">
            <summary>
            Gives the price and the calories of this entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.TRexKingBurger.Calories">
            <summary>
            Gives the calories of this entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.TRexKingBurger.Ingredients">
            <summary>
            Gives list of all the ingredients in this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.#ctor">
            <summary>
            Initialize price to 8.45 and calories to 728.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldBun">
            <summary>
            Remove bun from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldPickle">
            <summary>
            Remove pickle from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldKetchup">
            <summary>
            Remove ketchup from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldMustard">
            <summary>
            Remove mustard from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldTomato">
            <summary>
            Remove tomato from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldMayo">
            <summary>
            Remove mayo from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldOnion">
            <summary>
            Remove onion from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldLettuce">
            <summary>
            Remove lettuce from this entree.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.VelociWrap">
            <summary>
            Implement a class to represent the Veloci-Wrap entree. 
            Its price is $6.86, it contains 356 calories, and its ingredients are: a flour tortilla, chicken breast, romaine lettuce, Ceasar dressing, and parmesan cheese. 
            It should implement methods to hold the dressing, lettuce, and cheese.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.VelociWrap.Price">
            <summary>
            Gives the price of this entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.VelociWrap.Calories">
            <summary>
            Gives the calories of this entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.VelociWrap.Ingredients">
            <summary>
            Gives list of all the ingredients in this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.#ctor">
            <summary>
            Initialize price to 6.86 and calories to 356.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldDressing">
            <summary>
            Remove dressing from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldCheese">
            <summary>
            Remove cheese from this entree.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldLettuce">
            <summary>
            Remove lettuce from this entree.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Fryceritops">
            <summary>
            Represents an order of fryceritops aka french fries.
            Inherits from the base Side.cs class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Fryceritops.Size">
            <summary>
            The size of the side order.
            Updates the price and calories when size changes.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.Fryceritops.#ctor">
            <summary>
            Instantiates default small fryceritops order.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Fryceritops.Ingredients">
            <summary>
            Gets the list of ingredients for this side.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.MeteorMacAndCheese">
            <summary>
            Represents an order of MeteorMacAndCheese aka mac n cheese.
            Inherits from the base Side.cs class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MeteorMacAndCheese.Size">
            <summary>
            The size of the side order.
            Updates the price and calories when size changes.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.MeteorMacAndCheese.#ctor">
            <summary>
            Instantiates default small MeteorMacAndCheese order.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MeteorMacAndCheese.Ingredients">
            <summary>
            Gets the list of ingredients for this side.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.MezzorellaSticks">
            <summary>
            Represents an order of fryceritops aka tater tots.
            Inherits from the base Side.cs class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MezzorellaSticks.Size">
            <summary>
            The size of the side order.
            Updates the price and calories when size changes.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.MezzorellaSticks.#ctor">
            <summary>
            Instantiates default small MezzorellaSticks order.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MezzorellaSticks.Ingredients">
            <summary>
            Gets the list of ingredients for this side.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Size">
            <summary>
            Gets or sets the size
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Triceritots">
            <summary>
            Represents an order of Triceritots aka tater tots.
            Inherits from the base Side.cs class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Triceritots.Size">
            <summary>
            The size of the side order.
            Updates the price and calories when size changes.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.Triceritots.#ctor">
            <summary>
            Instantiates default small triceritots order.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Triceritots.Ingredients">
            <summary>
            Gets the list of ingredients for this side.
            </summary>
        </member>
    </members>
</doc>
